In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\harip\Dairy data Analysis"

In [3]:
# Importing the dataset
df= pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'dairy_dataset.csv'), index_col = False)

In [4]:
# Determining the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4325 entries, 0 to 4324
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Location                             4325 non-null   object
 1   Total Land Area (acres)              4325 non-null   float64
 2   Number of Cows                       4325 non-null   int64
 3   Farm Size                            4325 non-null   object
 4   Date                                 4325 non-null   object
 5   Product ID                           4325 non-null   int64
 6   Product Name                         4325 non-null   object
 7   Brand                                4325 non-null   object
 8   Quantity (liters/kg)                 4325 non-null   float64
 9   Price per Unit                       4325 non-null   float64
 10  Total Value                          4325 non-null   float64
 11  Shelf Life (days)                    4325 non-null   int64
 12  Storage Condition                    4325 non-null   object
 13  Production Date                      4325 non-null   object
 14  Expiration Date                      4325 non-null   object
 15  Quantity Sold (liters/kg)            4325 non-null   int64
 16  Price per Unit (sold)                4325 non-null   float64
 17  Approx. Total Revenue(INR)           4325 non-null   float64
 18  Customer Location                    4325 non-null   object
 19  Sales Channel                        4325 non-null   object
 20  Quantity in Stock (liters/kg)        4325 non-null   int64
 21  Minimum Stock Threshold (liters/kg)  4325 non-null   float64
 22  Reorder Quantity (liters/kg)         4325 non-null   float64
dtypes: float64(8), int64(5), object(10)
memory usage: 777.3+ KB

In [5]:
# Finding the columns
df.columns

Index(['Location', 'Total Land Area (acres)', 'Number of Cows', 'Farm Size',
       'Date', 'Product ID', 'Product Name', 'Brand', 'Quantity (liters/kg)',
       'Price per Unit', 'Total Value', 'Shelf Life (days)',
       'Storage Condition', 'Production Date', 'Expiration Date',
       'Quantity Sold (liters/kg)', 'Price per Unit (sold)',
       'Approx. Total Revenue(INR)', 'Customer Location', 'Sales Channel',
       'Quantity in Stock (liters/kg)', 'Minimum Stock Threshold (liters/kg)',
       'Reorder Quantity (liters/kg)'],
      dtype='object')

In [6]:
# Checking for shape
df.shape

(4325, 23)

In [7]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,17/02/2022,5,Ice Cream,Dodla Dairy,222.40,85.72,...,27/12/2021,21/01/2022,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,01/12/2021,1,Milk,Amul,687.48,42.61,...,03/10/2021,25/10/2021,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,28/02/2022,4,Yogurt,Dodla Dairy,503.48,36.50,...,14/01/2022,13/02/2022,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,09/06/2019,3,Cheese,Britannia Industries,823.36,26.52,...,15/05/2019,26/07/2019,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,14/12/2020,8,Buttermilk,Mother Dairy,147.77,83.85,...,17/10/2020,28/10/2020,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

# Data wrangling

In [8]:
#Changing data types
df['Product ID']= df['Product ID'].astype('str')

In [9]:
df['Product ID'].dtypes

dtype('O')

In [10]:
# Finding missing values
df.isnull().sum()

Location                               0
Total Land Area (acres)                0
Number of Cows                         0
Farm Size                              0
Date                                   0
Product ID                             0
Product Name                           0
Brand                                  0
Quantity (liters/kg)                   0
Price per Unit                         0
Total Value                            0
Shelf Life (days)                      0
Storage Condition                      0
Production Date                        0
Expiration Date                        0
Quantity Sold (liters/kg)              0
Price per Unit (sold)                  0
Approx. Total Revenue(INR)             0
Customer Location                      0
Sales Channel                          0
Quantity in Stock (liters/kg)          0
Minimum Stock Threshold (liters/kg)    0
Reorder Quantity (liters/kg)           0
dtype: int64

No missing or null values seen.

In [11]:
#Checking for duplicates
df_dup = df[df.duplicated()]

In [12]:
df_dup

Empty DataFrame
Columns: [Location, Total Land Area (acres), Number of Cows, Farm Size, Date, Product ID, Product Name, Brand, Quantity (liters/kg), Price per Unit, Total Value, Shelf Life (days), Storage Condition, Production Date, Expiration Date, Quantity Sold (liters/kg), Price per Unit (sold), Approx. Total Revenue(INR), Customer Location, Sales Channel, Quantity in Stock (liters/kg), Minimum Stock Threshold (liters/kg), Reorder Quantity (liters/kg)]
Index: []

[0 rows x 23 columns]

No duplicates seen

## Changing names of the columns

In [13]:
df = df.rename(columns={'Location':'States', 'Farm Size':'Farm Size per sq.km', 'Price per Unit':'Prices', 'Sales Channel':'Sales categories', 'Total Value':'Total Value of products available'})

In [14]:
df.shape

(4325, 23)

In [15]:
df.dtypes

States                                  object
Total Land Area (acres)                float64
Number of Cows                           int64
Farm Size per sq.km                     object
Date                                    object
Product ID                              object
Product Name                            object
Brand                                   object
Quantity (liters/kg)                   float64
Prices                                 float64
Total Value of products available      float64
Shelf Life (days)                        int64
Storage Condition                       object
Production Date                         object
Expiration Date                         object
Quantity Sold (liters/kg)                int64
Price per Unit (sold)                  float64
Approx. Total Revenue(INR)             float64
Customer Location                       object
Sales categories                        object
Quantity in Stock (liters/kg)            int64
Minimum Stock Threshold (liters/kg)    float64
Reorder Quantity (liters/kg)           float64
dtype: object

## Creating a new column from the date to extract "year" seperately.

In [16]:
df[["day","month", "year"]] = df["Date"].str.split("/", expand = True)

In [17]:
df.head()

,States,Total Land Area (acres),Number of Cows,Farm Size per sq.km,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Prices,...,Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales categories,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg),day,month,year
0,Telangana,310.84,96,Medium,17/02/2022,5,Ice Cream,Dodla Dairy,222.40,85.72,...,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03,17,02,2022
1,Uttar Pradesh,19.19,44,Large,01/12/2021,1,Milk,Amul,687.48,42.61,...,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10,01,12,2021
2,Tamil Nadu,581.69,24,Medium,28/02/2022,4,Yogurt,Dodla Dairy,503.48,36.50,...,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83,28,02,2022
3,Telangana,908.00,89,Small,09/06/2019,3,Cheese,Britannia Industries,823.36,26.52,...,28.92,17380.92,Rajasthan,Online,222,74.50,57.68,09,06,2019
4,Maharashtra,861.95,21,Medium,14/12/2020,8,Buttermilk,Mother Dairy,147.77,83.85,...,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40,14,12,2020

In [18]:
# Renaming "Date" to "Date of recording" & "Year" to "Year of recording"
df = df.rename(columns={'Date':'Date recording date', 'year': 'Year of recording data'})

In [19]:
# Dropping the columns 
# Deleting the columm 'day','month'
df = df.drop(columns=['day','month'])

In [20]:
df.head()

,States,Total Land Area (acres),Number of Cows,Farm Size per sq.km,Date recording date,Product ID,Product Name,Brand,Quantity (liters/kg),Prices,...,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales categories,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg),Year of recording data
0,Telangana,310.84,96,Medium,17/02/2022,5,Ice Cream,Dodla Dairy,222.40,85.72,...,21/01/2022,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03,2022
1,Uttar Pradesh,19.19,44,Large,01/12/2021,1,Milk,Amul,687.48,42.61,...,25/10/2021,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10,2021
2,Tamil Nadu,581.69,24,Medium,28/02/2022,4,Yogurt,Dodla Dairy,503.48,36.50,...,13/02/2022,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83,2022
3,Telangana,908.00,89,Small,09/06/2019,3,Cheese,Britannia Industries,823.36,26.52,...,26/07/2019,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68,2019
4,Maharashtra,861.95,21,Medium,14/12/2020,8,Buttermilk,Mother Dairy,147.77,83.85,...,28/10/2020,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40,2020

# Conducting basic descriptive statistics

In [21]:
df.describe()

,Total Land Area (acres),Number of Cows,Quantity (liters/kg),Prices,Total Value of products available,Shelf Life (days),Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
count,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.00000,4325.000000,4325.000000,4325.000000,4325.000000
mean,503.483073,54.963699,500.652657,54.785938,27357.845411,29.127630,248.095029,54.77914,13580.265401,252.068671,55.826143,109.107820
std,285.935061,26.111487,288.975915,26.002815,21621.051594,30.272114,217.024182,26.19279,14617.009122,223.620870,26.301450,51.501035
min,10.170000,10.000000,1.170000,10.030000,42.516500,1.000000,1.000000,5.21000,12.540000,0.000000,10.020000,20.020000
25%,252.950000,32.000000,254.170000,32.460000,9946.814500,10.000000,69.000000,32.64000,2916.650000,66.000000,32.910000,64.280000
50%,509.170000,55.000000,497.550000,54.400000,21869.652900,22.000000,189.000000,54.14000,8394.540000,191.000000,56.460000,108.340000
75%,751.250000,77.000000,749.780000,77.460000,40954.441000,30.000000,374.000000,77.46000,19504.550000,387.000000,79.010000,153.390000
max,999.530000,100.000000,999.930000,99.990000,99036.369600,150.000000,960.000000,104.51000,89108.900000,976.000000,99.990000,199.950000

# Exporting the Cleaned data

In [23]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Cleaned_data.csv'))